body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column; 
    justify-content: center;  
    align-items: center; 
    background-color: black;
    background-image: url('./images/banner2.jpg');  
    background-size: 50%;
    background-repeat: no-repeat; 
    background-position: center; 
    color: ghostwhite;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    padding: 1rem 0;
    padding-bottom: 0px;

}

header:hover {
    background-size: 70%;
    color: #ce0221;

    
}


nav {
    margin-top: auto;  
    width: 100%;  
    padding: 5px 0;
    margin-bottom: 0px;
    <nav style="
    height: 50px;
    padding-top: 0px;
    padding-bottom: 5px;
}




nav ul {
    list-style-type: none;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}

 
nav li {
    margin: 0;
}

nav a {

    backface-visibility: hidden;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    background: rgba(0%,0%,0%,0);
    border-radius: 100px;
    border: 5px solid #fff;
    border-width: 1px 1px 1px 1px;
    padding: 3px 10px 2px 10px;
    font-family: Helvetica Neue;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 1px;
    color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
    text-decoration: none;
    font-size: 1.2em;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

nav a:hover {
    background-color: #ce0221;;
    box-shadow: none; 
    text-decoration-style: double;
}

@media (max-width: 599px) {
    nav ul {
        flex-direction: column;
        align-items: center;
        padding: 0;
        border: none;  
    }

    
    nav ul li {
        width: 100%;
        text-align: center;
        border: none;  
        margin-bottom: 10px; 
    }
    
    nav ul li a {
        border: none;
        
    }
}



main {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin: 0 auto; /
    background-image: url('./images/background.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center;
}

.left-box, .right-box {
    height: 550px;
    text-align: center;
    flex: 1;
    position: sticky;
    top: 20px; 
    width: 200px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    align-content: center;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1079px) {
    .left-box, .right-box {
        display: none;
    }
}

.song-list {
    list-style-type: none; 
    padding-left: 0; 
}




.center-box {
    flex: 3; 
    padding: 0 20px; 
    text-align: center;

}
.center-box-lower {
    color: black;  
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);  
    background-color: rgba(211, 211, 211, 0.5);
    padding: 10px;
    margin-top: 20px;

}
.center-box-lower-non-main{

    color: black;  
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);  
    background-color: rgba(211, 211, 211, 0.9);
    padding: 10px;
    margin: 90px 30px 20px 30px;

}

.center-box img{
    width: 100%;   
    height: auto;

}

@media (max-width: 699px) {
    .center-box-lower-non-main, .center-box {
        width: auto;
    }

    .center-box-lower-non-main img, .center-box img {
        width: 100%;   
        height: auto; 
        display: block; 
    }
}



.center-box-lower table {
    width: 80%; 
    margin: 20px auto; 
    border-collapse: collapse;
    font-family: Helvetica Neue;
    color: white;
    background-color: rgba(0, 0, 0, 0.8); 
}


.center-box-lower th {
    background-color: rgba(255, 255, 255, 0.2); 
    padding: 10px 15px;
    border-bottom: 2px solid #fff;
}


.center-box-lower tr {
    transition: background-color 0.3s ease; 
}

.center-box-lower tr:hover {
    background-color: rgba(255, 255, 255, 0.1); 
}


.center-box-lower td {
    padding: 10px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
}




.news-ticker {
    width: 100%;
    background-color: #040404;
    border-radius: 30px;
    border-color: white;
    overflow: hidden;  
    white-space: nowrap; 
}

.news-ticker-content {
    display: inline-block;
    padding-left: 100%; 
    animation: ticker 90s linear infinite; 
    color: #FFF; 
    font-size: 16px;
}

@keyframes ticker {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.splitter {
    height: 30px; 
    vertical-align: middle; 
    margin-left: 5px;
    margin-right: 5px;
}

.splitter-song-box {
    height: 30px; 
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle; 
}

.song-list li {
    display: flex;
    align-items: left;
    margin-bottom: 10px; 
}

.form-group {
    text-align-last: justify;
    margin: 20px;
    padding: 5px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    transition: border-color 0.3s;
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group textarea:focus {
    border-color: #ce0221;  
    outline: none;
    box-shadow: 0 0 5px rgba(0,123,255,0.2); 
}

.form-group textarea {
    resize: vertical; 
}

.form-group input[type="submit"] {
    background-color: #ce0221;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;       
    margin: 10px auto;    

}


.form-group input[type="submit"]:hover {
    background-color: #ce0221; 
}




iframe {
    max-width: 100%;
    
}

footer {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: black;
    color: white;
    text-align: center;
    padding: .5rem 0;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 0.85em;
}

footer a {
    color: #ce0221;
    text-decoration: none;
    margin: 0 5px;
}

footer a:hover {
    text-decoration: underline;
}
